/* login button */

.btn-login { 
  color: #FCFCFC; 
  background-color: #111F3B; 
  border-color: #94847F; 
} 
 
.btn-login:hover, 
.btn-login:focus, 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  color: #FCFCFC; 
  background-color: #D47D20; 
  border-color: #94847F; 
} 
 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  background-image: none; 
} 
 
.btn-login.disabled, 
.btn-login[disabled], 
fieldset[disabled] .btn-login, 
.btn-login.disabled:hover, 
.btn-login[disabled]:hover, 
fieldset[disabled] .btn-login:hover, 
.btn-login.disabled:focus, 
.btn-login[disabled]:focus, 
fieldset[disabled] .btn-login:focus, 
.btn-login.disabled:active, 
.btn-login[disabled]:active, 
fieldset[disabled] .btn-login:active, 
.btn-login.disabled.active, 
.btn-login[disabled].active, 
fieldset[disabled] .btn-login.active { 
  background-color: #111F3B; 
  border-color: #94847F; 
} 

/* login */
.loginform {
	color: #333366;
}

.logincolumn {
	margin-top: 25px;
}

.form-actions {
	text-align: center;
}

.theadbg th a
{
/*   background: none repeat scroll 0% 0% #4A96D1; */
  color: #FFF !important;
}

